{
	"root": true,
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"extends": ["plugin:vue/vue3-essential", "eslint:recommended", "plugin:prettier/recommended"],
	"parserOptions": {
		"ecmaVersion": 9,
		"sourceType": "module",
		"parser": "@babel/eslint-parser"
	},
	"rules": {
		"eqeqeq": ["error", "always", { "null": "ignore" }],
		"arrow-spacing": "error",
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"prefer-const": "error",
		"prefer-destructuring": "warn",
		"prefer-object-spread": "warn",
		"operator-assignment": "error",
		"no-var": "error"
	}
}
