{
	"plugins": ["@prettier/plugin-pug"],
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"pugFramework": "vue",
	"pugBracketSpacing": true,
	"pugWrapAttributesThreshold": 1
}
